* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

header{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

header button {
    width: 25%;
    height: 5%;
}

header img:first-child{
    width: 15%;
    height: 15%;
    margin: 0 auto;
}

header div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20% ;
    align-items: center;
    justify-content:center;
}