//colors

/// Background
// Very dark desaturated blue (main background)
$main_bg_color: hsl(222, 26%, 31%);
// Very dark desaturated blue (toggle background, keypad background)
$toogle_bg_color: #252d44;
// Very dark desaturated blue (screen background)
$screen_bg_color: hsl(224, 36%, 15%);

/// Keys
// Desaturated dark blue (key background)
$key_bg_color0:#647299;
$key_toogle_color0: #a2b3e1;
// Desaturated dark blue (key shadow)
$key_shadow_color0: hsl(224, 28%, 35%);

// Red (key background, toggle)
$key_bg_color1: #d13f30;
$key_toogle_color1: #f96c5b;
// Dark red (key shadow)
$key_shadow_color1: #882821;

// Light grayish orange (key background)
$key_bg_color2: #eae3db;
$key_toogle_color2: #ffffff;
// Grayish orange (key shadow)
$key_shadow_color2: hsl(28, 16%, 65%);

// Text

// Very dark grayish blue
$text_color0: hsl(221, 14%, 31%);
$text_color1: white;