.attribution {
    position: fixed;
    font-size: 11px;
    text-align: center;
    bottom: 5px;
    width: 100%;
    height: 30px;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container{
    width: 100%;
    height: 100%;
    background-color: #ffffff;  

}

.main_header{
    display: inline;
    position: inherit;
    font-size: 15px;
    font-weight: 700;

}
