.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 5px;
    width: 100%;
    height: 30px;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main_container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.top_container {
    display: flex;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 20px;
    margin: 0px;
}

.left_container {
    position: inherit;
    display: inline;
    width: 50%;
    height: 100%;
    left: 100px;
}

.main_header {
    display: inline;
    position: inherit;
    font-size: 45px;
    font-weight: 700;
    color: hsl(301, 37%, 23%);
    left: 40px;
    width: 300px;
}

.main_paragraph {
    position: inherit;
    color: hsl(301, 37%, 23%);
    font-weight: 700;
    font-size: 20px;
    width: 500px;
    top: 200px;
    left: 40px;
}


.right_container {
    display: inline-flex;
    position: inherit;
    flex-direction: column;
    right: 0px;
    width: 50%;
    height: 100%;
    top: 70px;

}

.right_container>div {
    background-color: rgba(247, 242, 247, 1.000);
    margin-top: 20px;
    border-radius: 9px;
    width: 550px;
    height: 50px;
}

.right_container>div>p {
    position: relative;
    display: inline;
    color: hsl(301, 37%, 23%);
    font-weight: 700;
    left: 210px;
    top: 15px;


}

.star {
    position: relative;
    left: 20px;
    top: 15px;
}

.bottom_container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 100px;
    top: 450px;

}

.bottom_container>div {
    background-color: hsl(301, 37%, 23%);
    flex-direction: row;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-left: 40px;
}

.bottom_container>div>img {
    position: inherit;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;

}

.header_profile {
    display: inline;
    position: absolute;
    color: #ffffff;
    text-justify: justify;
    margin-left: 45px;
    top: 48px;
    font-size: 21px;
    font-weight: 700;

}

.subheader_profile {
    display: inline;
    position: inherit;
    bottom: 285px;
    margin-left: 45px;
    color: hsl(300, 52%, 41%);
    font-weight: 700;
    font-size: 21px;

}

.paragraph_profile {
    color: #ffffff;
    position: inherit;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}