* {
  box-sizing: border-box;
}

body {
  display: grid;  
  background-color: rgb(250,250,250);
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section{
  display: flex;
  width: 100%;
  flex-direction: row;  
}

.left_div, .right_div {
  background-color: white;
  width: 500px;
  height: 300px;
  box-shadow:5px 6px 30px 3px rgba(0, 0, 0, 0.1),0px 0px 30px 3px rgba(0, 0, 0, 0.1)
}

.center_div{
display: flex;
flex-direction: column;
}

.up_div, .down_div{
  background-color: white;
  width: 500px;
  height: 300px;
  margin: 20px;
}


.footer_para {
  font-size: 11px;
  text-align: center;
}

.footer_para a {
  color: hsl(228, 45%, 44%);
}