* {
  box-sizing: border-box;
}

body {
  display: grid;  
  background-color: rgb(250,250,250);
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section div:first-child, section div:last-child{
  display: flex;
  width: 500px;
  height: 300px;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}

.center_div{
display: flex;
flex-direction: column;
justify-content: space-between;

}


.footer_para {
  font-size: 11px;
  text-align: center;
}

.footer_para a {
  color: hsl(228, 45%, 44%);
}