@use 'variables' as v;

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.main__container-homepage {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: v.$home_bg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.navbar__container {
    width: 200px;
    height: 300px;
    background-color: v.$color_bg_card;
}