
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$bg_color_left0:#6f2778;
$bg_color_left1:#3f166d;
$bg_color_right0:#ffc565;
$bg_color_right1:#cf8376;
$bg_hover_links: #592297;
$bg_color_left_tr:	rgba(63,22,109,0.7);
$bg_color_right_tr:	rgba(255,197,101,0.7);
$general_font:'Play', sans-serif;