// This is general style .scss file
@use './variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$general_font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, v.$bg_color_left1, v.$bg_color_right0, );
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    height: 90%;
    background-image: url('../assets/background_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // border: solid 2px black;
    box-shadow: -10px -10px 20px v.$bg_color_right0, 10px 15px 20px v.$bg_color_left1 ;
    border-radius: 40px;
    gap: 50px;

    &-menu {
        display: flex;
        align-items: center;
        margin: 80px 0 0 160px;
        width: 60%;
        height: 8ch;
    }

    &-form {
        margin: 0 0 0 80px;
        background-image: linear-gradient(to right, v.$bg_color_right_tr, v.$bg_color_left_tr);
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1fr;
        width: 50%;
        height: 450px;
        padding: 20px;
        align-items: center;
        gap: 8px;
        text-align: right;
        border-radius: 15px;
    }

    &-actions {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 300px;
        border: solid 2px green;
    }

    label {
        font-size: 20px;
        font-weight: 900;
    }

    input {
        height: 30px;
    }
}

.menu__links {
    display: flex;
    gap: 50px;
    list-style-type: none;
    justify-content: start;
    align-items: center;

    &-action {
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$bg_color_left1;
        width: 150px;
        height: 55px;
        border-radius: 30px;
        gap: 5px;
        box-shadow: 2px 2px 10px v.$bg_color_left1;

        &:hover {
            background-color: v.$bg_hover_links;
        }

    }

    &-icon {
        width: 35px;
        height: 40px;
    }
}

.form__container {
    &-btn {
        grid-column: 1-3;
        width: 250px;
        height: 50px;
        color: white;
        background-color: v.$bg_color_left1;
        border-radius: 10px;
        border: none;
    }
}