// This is general style .scss file
@use './variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$general_font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, v.$bg_color_left1, v.$bg_color_right0);
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    height: 90%;
    background-image: url('../assets/background_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -10px -10px 20px v.$bg_color_right0, 10px 15px 20px v.$bg_color_left1 ;
    border-radius: 40px;


    &-menu {
        display: flex;
        align-items: center;
        margin: 80px 0 0 160px;
        width: 100%;
        height: 120px;
    }

    &-title {
        font-size: 45px;
        font-weight: 700;
        margin: 0 0 0 100px;
    }

    &-form {
        display: none;
        margin: 0 0 0 120px;
        background-image: linear-gradient(to right, v.$bg_color_right_tr, v.$bg_color_left_tr);
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1fr;
        width: 40%;
        height: 450px;
        padding: 20px;
        align-items: center;
        gap: 8px;
        text-align: right;
        border-radius: 15px;

    }

    &-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
        height: 65%;
        margin: 0 0 0 120px;
        background-image: linear-gradient(to right, v.$bg_color_right_tr, v.$bg_color_left_tr);
        border-radius: 15px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {            
            box-shadow: inset 2px 2px 5px v.$bg_color_right1;
            border-radius: 5px;
            background-color: v.$bg_color_left0;            
        }

        &::-webkit-scrollbar-thumb {            
            background: v.$bg_color_right1;
            border-radius: 5px;
            border: solid 1px v.$bg_color_left0;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: v.$bg_color_right0;
        }
    }


    label {
        font-size: 20px;
        font-weight: 700;
    }

    input {
        padding-left: 5px;
        height: 30px;
        border: none;
        border-radius: 5px;
        font-family: v.$general_font;
    }
}

.menu__links {
    display: flex;
    gap: 50px;
    list-style-type: none;
    justify-content: start;
    align-items: center;

    &-action {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$bg_color_left1;
        width: 150px;
        height: 55px;
        border-radius: 30px;
        gap: 5px;
        box-shadow: 2px 2px 10px v.$bg_color_left1;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            background-color: v.$bg_hover_links;
        }

        &:active {
            transform: scaleX(0.95);
        }

    }

    &-icon {
        width: 35px;
        height: 40px;
    }
}

.form__container {
    &-btn {
        font-family: v.$general_font;
        font-size: 18px;
        font-weight: 700;
        grid-column: 1-3;
        width: 250px;
        height: 50px;
        color: white;
        background-color: v.$bg_color_left1;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 10px v.$bg_color_left1;

        &:active {
            transform: scaleX(0.8);
            transition: transform 0.2s;
        }
    }

    &-descript {
        border-radius: 5px;
        font-family: v.$general_font;
        padding: 10px;
    }
}

.actions__container {
    &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;

        select {
            background-color: v.$bg_color_left1;
            border: none;
            width: 150px;
            height: 35px;
            color: white;
            font-size: 16px;
            font-family: v.$general_font;
            border-radius: 5px;
            box-shadow: 2px 2px 10px v.$bg_color_left1;
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 0.25fr 0.25fr;
        align-items: center;
        text-align: center;
        border: solid 3px v.$bg_color_left_tr;
        width: 95%;
        gap: 10px;
        padding: 10px;
        font-size: 22px;
        font-weight: 400;
    }

    &-update {
        @include v.button;
        margin-left: 10px;
    }
}

.container__item {
    &-title {
        font-size: 22px;
        word-wrap: break-word;
    }

    &-fname {
        font-size: 18px;
        word-wrap: break-word;
    }

    &-lname {
        font-size: 18px;
        word-wrap: break-word;
    }

    &-descript {
        font-size: 18px;
        font-weight: 700;
        word-wrap: break-word;
        text-align: left;
    }

    &-delete {
        @include v.button;
    }

    &-edit {
        @include v.button;
        width: 60px;
    }
}

.active_state {
    display: grid;
}

.inactive_state {
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px v.$bg_color_right1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}