.attribution {
    position: absolute;
    height: 10%;
    width: 100%;
    font-size: 15px;
    text-align: center;
    top: 95%;
}

.attribution a {
    color: rgba(62, 82, 163, 1.000);
}

.div_main {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(214, 226, 240, 1.000);
    margin-top: 0px;
    padding: 0px;
    border: 0px;
}

.div_qr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    position: relative;
    height: 700px;
    width: 450px;
    background-color: rgba(255, 255, 255, 1.000);
    top: 100px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    border-radius: 25px;
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 3%;
}

p {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragraph_under_qr {
    color: rgba(31, 50, 81, 1.000);
    position: absolute;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    margin: 3px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 30px;
}

.paragraph_under_qr_1 {
    position: absolute;
    text-align: center;
    color: rgba(123, 135, 157, 1.000);
    top: 550px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 20px;
}